apiVersion: v1                          # API Kubernetes per risorse core
kind: ConfigMap                         # Tipo di risorsa: ConfigMap
metadata:
  name: mongodb-init                    # Nome della ConfigMap
data:
  init-mongo.js: |                     # Script di inizializzazione MongoDB
    db = db.getSiblingDB('dbDevOps');   # Selezione (o creazione) del database

    db.studenti.insertMany([            # Inserimento dati iniziali nella collection
      { matricola: "test", nome: "Mario", cognome: "Rossi", corso: "Ingegneria Informatica" },
      { matricola: "12345", nome: "Luigi", cognome: "Verdi", corso: "Informatica" },
      { matricola: "67890", nome: "Anna", cognome: "Bianchi", corso: "Ingegneria del Software" }
    ]);

    print('Database inizializzato con successo!'); # Messaggio di conferma
