apiVersion: apps/v1                     # Versione API
kind: Deployment                        # Tipo di risorsa
metadata:
  name: python-app                      # Nome del Deployment
spec:
  replicas: 1                           # Numero di pod desiderati
  selector:
    matchLabels:
      app: python-app                  # Label usata per associare i pod
  template:
    metadata:
      labels:
        app: python-app                # Label del pod
    spec:
      restartPolicy: Always            # Politica di riavvio (default nei Deployment)
      containers:
        - name: app                    # Nome del container
          image: python-app:latest     # Immagine Docker dell’applicazione
          imagePullPolicy: Never       # Usa l’immagine locale
          env:
            - name: MONGO_URI          # URI di connessione a MongoDB
              value: mongodb://admin:adminpassword@mongodb:27017/dbDevOps?authSource=admin
            - name: DB_NAME            # Nome del database
              value: dbDevOps
            - name: COLLECTION_NAME    # Nome della collection
              value: studenti
          resources:
            limits:
              cpu: "0.25"              # Limite massimo CPU
              memory: 256Mi            # Limite massimo memoria
            requests:
              cpu: "0.1"               # CPU garantita
              memory: 128Mi            # Memoria garantita
