resources:
  - ../../base

patchesStrategicMerge:
  - |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: python-app
    spec:
      template:
        spec:
          containers:
            - name: app
              resources:
                limits:
                  cpu: "0.3"
                  memory: 300Mi
