apiVersion: kustomize.config.k8s.io/v1beta1   # API usata da Kustomize
kind: Kustomization                          # Tipo di risorsa Kustomize

resources:
  - ../../base                               # Risorse base da cui partire

patchesStrategicMerge:
  - |-                                    # Patch per il Deployment dell’app Python
    apiVersion: apps/v1                    # API Kubernetes per Deployment
    kind: Deployment                       # Tipo di risorsa
    metadata:
      name: python-app                     # Deployment da patchare
    spec:
      template:
        spec:
          containers:
            - name: app                    # Container dell’app
              resources:
                limits:
                  cpu: "0.3"               # Nuovo limite CPU per l’app
                  memory: 300Mi            # Nuovo limite memoria per l’app
  - |-                                    # Patch per il Deployment MongoDB
    apiVersion: apps/v1                    # API Kubernetes per Deployment
    kind: Deployment                       # Tipo di risorsa
    metadata:
      name: mongodb                        # Deployment MongoDB da patchare
    spec:
      template:
        spec:
          containers:
            - name: mongodb                # Container MongoDB
              resources:
                limits:
                  cpu: "0.6"               # Nuovo limite CPU per MongoDB
                  memory: 600Mi             # Nuovo limite memoria per MongoDB
